accountsservice
acl
adduser
adwaita-icon-theme
agnostics
alacarte
alsa-topology-conf
alsa-ucm-conf
alsa-utils
apg
apparmor
apt
apt-listchanges
apt-utils
atop
at-spi2-common
autotouch
avahi-daemon
avahi-utils
base-files
base-passwd
bash
bash-completion
bc
binutils
binutils-aarch64-linux-gnu
binutils-common
blt
bluez
bluez-firmware
bmon
bsdextrautils
bsdutils
bubblewrap
build-essential
busybox
byobu
bzip2
ca-certificates
ccze
chromium
chromium-common
chromium-sandbox
cifs-utils
cmatrix
colord
colord-data
console-setup
console-setup-linux
coreutils
cpio
cpp
cpp-12
cron
cron-daemon-common
cups
cups-browsed
cups-client
cups-common
cups-core-drivers
cups-daemon
cups-filters
cups-filters-core-drivers
cups-ipp-utils
cups-pk-helper
cups-ppdc
cups-server-common
curl
dash
dbus
dbus-bin
dbus-daemon
dbus-session-bus-common
dbus-system-bus-common
dbus-user-session
dbus-x11
dc
dconf-cli
dconf-gsettings-backend
dconf-service
debconf
debconf-i18n
debconf-utils
debian-archive-keyring
debian-reference-common
debian-reference-en
debianutils
desktop-base
desktop-file-utils
device-tree-compiler
dictionaries-common
diffutils
dillo
dirmngr
distro-info-data
dmidecode
dmsetup
dnsmasq-base
dns-root-data
docutils-common
dos2unix
dosfstools
dphys-swapfile
dpkg
dpkg-dev
e2fsprogs
ed
eject
emacsen-common
eom
eom-common
espeak
espeak-data
ethtool
evince
evince-common
exfatprogs
fake-hwclock
fakeroot
fbset
fdisk
feedbackd
feedbackd-common
ffmpeg
file
findutils
fio
firefox
firmware-atheros
firmware-brcm80211
firmware-intel-graphics
firmware-intel-misc
firmware-libertas
firmware-linux-free
firmware-marvell-prestera
firmware-mediatek
firmware-misc-nonfree
firmware-nvidia-graphics
firmware-realtek
flashrom
fontconfig
fontconfig-config
fonts-cantarell
fonts-dejavu-core
fonts-droid-fallback
fonts-font-awesome
fonts-freefont-ttf
fonts-gfs-didot-classic
fonts-lato
fonts-liberation
fonts-liberation2
fonts-noto-mono
fonts-piboto
fonts-quicksand
fonts-urw-base35
fuse3
g++
g++-12
galculator
gawk
gcc
gcc-12
gcc-12-base
gcr
gdal-data
gdal-plugins
gdb
gdisk
geany
geany-common
gettext-base
ghostscript
ghp-import
gir1.2-atk-1.0
gir1.2-eom-1.0
gir1.2-freedesktop
gir1.2-gdkpixbuf-2.0
gir1.2-glib-2.0
gir1.2-gmenu-3.0
gir1.2-gtk-3.0
gir1.2-handy-1
gir1.2-harfbuzz-0.0
gir1.2-notify-0.7
gir1.2-packagekitglib-1.0
gir1.2-pango-1.0
gir1.2-polkit-1.0
gir1.2-secret-1
git
git-man
gldriver-test
glib-networking
glib-networking-common
glib-networking-services
gnome-desktop3-data
gnome-icon-theme
gnome-keyring
gnome-menus
gnome-themes-extra-data
gnupg
gnupg-l10n
gnupg-utils
gpg
gpg-agent
gpgconf
gpgsm
gpgv
gpg-wks-client
gpg-wks-server
gpiod
grep
grim
groff-base
gsettings-desktop-schemas
gsfonts
gstreamer1.0-alsa
gstreamer1.0-libav
gstreamer1.0-plugins-bad
gstreamer1.0-plugins-base
gstreamer1.0-plugins-good
gstreamer1.0-x
gtk2-engines
gtk2-engines-pixbuf
gtk2-engines-pixflat
gtk-nop
gtk-update-icon-cache
gui-pkinst
gui-updater
gvfs
gvfs-backends
gvfs-common
gvfs-daemons
gvfs-fuse
gvfs-libs
gzip
hicolor-icon-theme
hollywood
hostname
hplip
hplip-data
htop
hunspell-en-gb
hunspell-en-us
hyphen-en-gb
i2c-tools
ibverbs-providers
imagemagick
imagemagick-6-common
imagemagick-6.q16
init
initramfs-tools
initramfs-tools-core
init-system-helpers
ipp-usb
iproute2
iputils-ping
isc-dhcp-client
isc-dhcp-common
iso-codes
iw
javascript-common
jp2a
kanshi
kbd
keyboard-configuration
keyutils
klibc-utils
kmod
kms++-utils
labwc
labwc-prompt
laptop-detect
less
lightdm
lightdm-gtk-greeter
linux-base
linux-headers-6.6.51+rpt-common-rpi
linux-headers-6.6.51+rpt-rpi-2712
linux-headers-6.6.51+rpt-rpi-v8
linux-headers-6.6.74+rpt-common-rpi
linux-headers-6.6.74+rpt-rpi-2712
linux-headers-6.6.74+rpt-rpi-v8
linux-headers-rpi-2712
linux-headers-rpi-v8
linux-image-6.6.51+rpt-rpi-2712
linux-image-6.6.51+rpt-rpi-v8
linux-image-6.6.74+rpt-rpi-2712
linux-image-6.6.74+rpt-rpi-v8
linux-image-rpi-2712
linux-image-rpi-v8
linux-kbuild-6.6.51+rpt
linux-kbuild-6.6.74+rpt
linux-libc-dev
Listing...
locales
login
logrotate
logsave
lp-connection-editor
lsb-release
lsof
lua5.1
luajit
lxappearance
lxappearance-obconf
lxde
lxde-common
lxde-core
lxde-icon-theme
lxhotkey-core
lxhotkey-gtk
lxinput
lxmenu-data
lxpanel
lxpanel-data
lxplug-bluetooth
lxplug-cputemp
lxplug-ejecter
lxplug-magnifier
lxplug-menu
lxplug-netman
lxplug-network
lxplug-ptbatt
lxplug-updater
lxplug-volumepulse
lxpolkit
lxrandr
lxsession
lxsession-data
lxsession-edit
lxsession-logout
lxtask
lxterminal
lynx
lynx-common
mailcap
make
man-db
manpages
manpages-dev
mariadb-common
mate-desktop-common
mate-polkit
mate-polkit-bin
mate-polkit-common
mawk
media-types
menu-xdg
mesa-libgallium
mesa-vdpau-drivers
mesa-vulkan-drivers
meson
mime-support
mkdocs
mkvtoolnix
modemmanager
moreutils
mount
mousepad
mypy
mysql-common
nano
ncdu
ncurses-base
ncurses-bin
ncurses-term
netbase
netpbm
net-tools
network-manager
nfs-common
nftables
ninja-build
node-jquery
notification-daemon
nss-plugin-pem
ntfs-3g
obconf
ocl-icd-libopencl1
openbox
openbox-lxde-session
openocd
openssh-client
openssh-server
openssh-sftp-server
openssl
p11-kit
p11-kit-modules
p7zip
p7zip-full
packagekit
parted
passwd
pastebinit
patch
pci.ids
pciutils
pcmanfm
perl
perl-base
perl-modules-5.36
pi-bluetooth
piclone
pigpio
pigpiod
pigpio-tools
pi-greeter
pi-language-support
pinentry-curses
pinentry-gnome3
pi-package
pi-package-data
pi-package-session
pipanel
pipewire
pipewire-bin
pipewire-libcamera
pipewire-pulse
pi-printer-support
pipx
pishutdown
piwiz
pixflat-icons
pixflat-theme
pkexec
pkgconf
pkgconf-bin
pkg-config
plocate
plymouth
plymouth-label
plymouth-themes
pocketsphinx-en-us
policykit-1
polkitd
polkitd-pkla
poppler-data
poppler-utils
ppp
pprompt
printer-driver-escpr
printer-driver-hpcups
printer-driver-postscript-hp
procps
proj-bin
proj-data
psmisc
publicsuffix
pulseaudio
pulseaudio-module-bluetooth
pulseaudio-utils
pylint
python-apt-common
python-babel-localedata
python-is-python3
qt5ct
qt5-gtk2-platformtheme
qt5-gtk-platformtheme
qt5-style-plugin-cleanlooks
qt5-style-plugin-motif
qt5-style-plugin-plastique
qt5-style-plugins
qtwayland5
raindrop
raspi-config
raspi-firmware
raspi-gpio
raspinfo
raspi-utils
raspi-utils-core
raspi-utils-dt
raspi-utils-eeprom
raspi-utils-otp
rc-gui
read-edid
readline-common
realvnc-vnc-server
rfkill
rp-bookshelf
rpcbind
rpcsvc-proto
rpd-plym-splash
rpd-wallpaper
rpicam-apps
rpi-chromium-mods
rpi-connect
rpi-eeprom
rpi-firefox-mods
rpi-imager
rpi-update
rp-prefapps
rsync
rtkit
runit-helper
samba-libs
sane-airscan
sane-utils
scrot
sed
sense-hat
sensible-utils
sgml-base
shared-mime-info
sound-theme-freedesktop
speedometer
sphinx-rtd-theme-common
squeekboard
ssh
ssh-import-id
ssl-cert
strace
sudo
sudopwd
swayidle
system-config-printer
system-config-printer-common
system-config-printer-udev
systemd
systemd-sysv
systemd-timesyncd
sysvinit-utils
tar
tasksel
tasksel-data
tesseract-ocr
tesseract-ocr-eng
tesseract-ocr-osd
thonny
timgm6mb-soundfont
tk8.6-blt2.5
tmux
tree
triggerhappy
tzdata
ucf
udev
udisks2
unixodbc-common
unzip
update-inetd
upower
usb.ids
usb-modeswitch
usb-modeswitch-data
usbutils
userconf-pi
usr-is-merged
util-linux
util-linux-extra
uuid
v4l-utils
vdpau-driver-all
vim-common
vim-tiny
vlc
vlc-bin
vlc-data
vlc-l10n
vlc-plugin-access-extra
vlc-plugin-base
vlc-plugin-notify
vlc-plugin-qt
vlc-plugin-samba
vlc-plugin-skins2
vlc-plugin-video-output
vlc-plugin-video-splitter
vlc-plugin-visualization
vulkan-tools
wamerican
wayfire
wayvnc
wbritish
webp-pixbuf-loader
wf-panel-pi
wfplug-connect
wfplug-squeek
wget
whiptail
wireless-regdb
wireless-tools
wireplumber
wlopm
wlr-randr
wpasupplicant
x11-common
x11proto-dev
x11-xkb-utils
x11-xserver-utils
xarchiver
xauth
xcompmgr
xdg-dbus-proxy
xdg-desktop-portal
xdg-desktop-portal-gtk
xdg-desktop-portal-wlr
xdg-user-dirs
xdg-utils
xfonts-encodings
xfonts-utils
xinit
xinput
xkb-data
xml-core
xmlstarlet
xorg-sgml-doctools
xsel
xserver-common
xserver-xorg
xserver-xorg-core
xserver-xorg-input-all
xserver-xorg-input-libinput
xserver-xorg-video-all
xserver-xorg-video-amdgpu
xserver-xorg-video-ati
xserver-xorg-video-fbdev
xserver-xorg-video-nouveau
xserver-xorg-video-radeon
xserver-xorg-video-vesa
xsettingsd
xtrans-dev
xwayland
xz-utils
zenity
zenity-common
zip
zlib1g
zlib1g-dev
zstd
